<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/form.css">
    <title>Bookstore</title>
</head>
<body>
<a href="/main" id="logo">
    <img src="/logo.png">
</a>

<div id="menu">
    <a href="/main">Strona Główna</a>
    <a href="/contact">Kontakt</a>
    <a href="/login">Login</a>
</div>
<div id="content">
    <form method="post">
        <input type="text" placeholder="Login" th:field="*{user.login}">
        <input type="password" placeholder="Hasło" th:field="*{user.password}">
        <input type="submit" placeholder="Wyślij">
    </form>
</div>

</body>
</html>